<div class="container">
    <div class="card-deck">
    <div class="card" style="width:18rem;" *ngFor="let product of productlist">
        <img class="card-img-top" [src]="product.avatar" alt="{{product.name}}'s Image">
        <div class="card-body text-center">
            <h5 class="card-title">{{product.name}}'s Details</h5>
            <p class="card-text">Id : {{product.id}}</p>
            <p class="card-text">quantity : {{product.quantity}}</p>
            <p class="card-text">price : {{product.price}}</p>
            <button (click)="addToCart(product)">Buy</button>
        </div>
    </div>
    
</div>
</div>
